<h1>Flight Lookahead</h1>

<form>
    <div class="form-group">
        <label>City:</label>
        <input name="control" [formControl]="control" class="form-control">
    </div>
</form>
<div>
    <p>Loading: {{ loading }}</p>
</div>
<ng-container *ngIf="flights$ | async as flights">
    <app-data-table [data]="flights">
        <div *appTableField="let field as 'id'">{{ field }}</div>
        <div *appTableField="let field as 'from'">{{ field }}</div>
        <div *appTableField="let field as 'to'">{{ field }}</div>
        <div *appTableField="let field as 'date'">{{ field | date:'dd.MM.yyyy' }}</div>
    </app-data-table>
</ng-container>