<h1>Booking History</h1>

<app-tabbed-pane #pane>
    <app-tab title="Upcoming Flights">
        <p>No upcoming flights!</p>
    </app-tab>

    <app-tab title="Operated Flights">
        <p>No operated flights!</p>
    </app-tab>

    <app-tab title="Canceled Flights">
        <p>No canceled flights!</p>
    </app-tab>
</app-tabbed-pane>

<div>
    <p>Current page: {{ pane.currentPage }}</p>
    <button (appClickWithWarning)="delete()" [warningMessage]="deleteWarningMessage">Delete</button>
</div>

<ng-template #tooltiptemplate let-title let-text="helpText" let-link="helpLink" let-linkLabel="helpLinkLabel">
    <h3>{{ title }}</h3>
    <div>
        {{ text }}
        <a [href]="link">{{ linkLabel }}</a>
    </div>
</ng-template>

<div>
    <input [appTooltip]="tooltiptemplate">
</div>